// Local Font Imports
@font-face {
  font-family: "Young Serif";
  src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Document
html {
  font-size: 100%;
  scroll-behavior: smooth;
}

// Lists
ul,
ol {
  list-style: none;
}

// Images and media
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

// Form elements
input,
button,
textarea,
select {
  font: inherit;
}

// Links
a {
  text-decoration: none;
  color: inherit;
}

// Typography
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

// Less variables
@mobile: 375px;
@tablet: 768px;
@laptop: 1024px;
@desktop: 1440px;

// Colors
@white: hsl(0, 0%, 100%);
@stone-100: hsl(30, 54%, 90%);
@stone-150: hsl(30, 18%, 87%);
@stone-600: hsl(30, 10%, 34%);
@stone-900: hsl(24, 5%, 18%);
@brown-800: hsl(14, 45%, 36%);
@rose-800: hsl(332, 51%, 32%);
@rose-50: hsl(330, 100%, 98%);

// Font Family Variables
@font-primary: "Young Serif", serif;
@font-secondary: "Outfit", sans-serif;

//Typography
@font-size-body: 1rem;
@font-weight: 400;
@font-weight-medium: 600;
@font-weight-bold: 700;

// Spacing
@spacing-100: 0.5rem;
@spacing-200: 1rem;
@spacing-300: 1.5rem;
@spacing-400: 2rem;
@spacing-500: 2.5rem;
@spacing-600: 3rem;
@spacing-700: 3.5rem;
@spacing-800: 4rem;

body {
  font-family: @font-primary;
  font-size: @font-size-body;
  color: @stone-900;
  background-color: @stone-100;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  background-color: @white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  max-width: 712px;
  margin: @spacing-800 auto;
  padding: @spacing-400;
  border-radius: @spacing-300;

  .recipe__image {
    width: 100%;
    border-radius: @spacing-200;
    margin-bottom: @spacing-300;
  }

  .recipe__text {
    font-size: @font-size-body;
    color: @stone-900;
    margin-bottom: @spacing-300;

    .title {
      font-size: 2.5rem;
      font-weight: @font-weight;
      color: @stone-900;
      margin-bottom: @spacing-300;
    }

    .text {
      font-family: @font-secondary;
      font-size: @font-size-body;
      font-weight: @font-weight;
      color: @stone-600;
      margin-bottom: @spacing-300;
    }

    .recipe__time {
      font-family: @font-secondary;
      font-size: @font-size-body;
      background-color: @rose-50;
      padding: @spacing-200;
      border-radius: @spacing-100;

      .title {
        font-size: 1.2rem;
        font-weight: @font-weight-medium;
        color: @rose-800;
        margin-bottom: @spacing-100;
      }

      .text-list {
        font-size: @font-size-body;
        font-weight: @font-weight;
        color: @stone-600;
        margin-bottom: @spacing-100;

        li {
          position: relative;
          padding-left: 2.5em;
          margin-bottom: 0.5em;

          &:before {
            content: "•";
            position: absolute;
            left: 0.5rem;
            color: @rose-800;
          }

          span {
            font-weight: 600;
          }
        }
      }
    }
  }

  .recipe__ingredients {
    font-weight: @font-weight;
    color: @stone-600;

    .title {
      font-size: 1.5rem;
      font-weight: @font-weight;
      color: @brown-800;
      margin-bottom: @spacing-200;
      font-family: @font-primary;
    }

    .text-list {
      font-size: @font-size-body;
      font-family: @font-secondary;
      font-weight: @font-weight;
      color: @stone-600;

      li {
        position: relative;
        padding-left: 2.5em;
        margin-bottom: 0.5em;

        &:before {
          content: "•";
          position: absolute;
          left: 0.5em;
          color: @brown-800;
        }

        span {
          font-weight: 600;
        }
      }
    }

    .horizontal-line {
      border: 0;
      border-top: 1px solid @stone-150;
      margin: @spacing-300 0;
      width: 100%;
    }
  }

  .recipe__instructions {
    font-weight: @font-weight;
    color: @stone-600;

    .title {
      font-size: 1.5rem;
      font-weight: @font-weight;
      color: @brown-800;
      margin-bottom: @spacing-200;
      font-family: @font-primary;
    }

    .text-list {
      font-size: @font-size-body;
      font-family: @font-secondary;
      font-weight: @font-weight;
      color: @stone-600;
      counter-reset: list-counter;

      li {
        position: relative;
        padding-left: 2.5em;
        margin-bottom: 0.5em;

        &:before {
          counter-increment: list-counter;
          content: counter(list-counter) ".";
          position: absolute;
          left: 0.5em;
          color: @brown-800;
          font-weight: 600;
        }

        span {
          font-weight: 600;
        }
      }
    }

    .horizontal-line {
      border: 0;
      border-top: 1px solid @stone-150;
      margin: @spacing-300 0;
      width: 100%;
    }
  }

  .recipe__nutrition {
    font-weight: @font-weight;
    color: @stone-600;

    .title {
      font-size: 1.5rem;
      font-weight: @font-weight;
      color: @brown-800;
      margin-bottom: @spacing-200;
      font-family: @font-primary;
    }

    .text {
      font-size: @font-size-body;
      font-family: @font-secondary;
      font-weight: @font-weight;
      color: @stone-600;
      margin-bottom: @spacing-300;
    }

   .nutrition__table {
      font-size: @font-size-body;
      font-family: @font-secondary;
      font-weight: @font-weight;
      color: @stone-600;
      border-collapse: collapse;
      width: 100%;

      th,
      td {
        border-bottom: 1px solid @stone-150;
        padding: @spacing-200;
        text-align: left;
      }
    
      tr:last-child {
        th,
        td {
          border-bottom: none;
        }
      }

      th {
        font-weight: @font-weight;
      }

      td {
        font-weight: @font-weight-medium;
        color: @brown-800;
      }
   }

    .horizontal-line {
      border: 0;
      border-top: 1px solid @stone-150;
      margin: @spacing-300 0;
    }
  }
}

// Media Queries
@media (max-width: @mobile) {
  .container {
    padding: 0;
    margin: 0;
    border-radius: 0;

    .recipe__image {
      border-radius: 0;
    }

    .recipe__text {
      padding-inline: @spacing-300;
      .title {
        font-size: 2rem;
      }

      .recipe__time {
        .title {
          font-size: 1.1rem;
        }
      }
    }

    .recipe__ingredients {
      padding-inline: @spacing-300;
      .title {
        font-size: 1.3rem;
      }
    }

    .recipe__instructions {
      padding-inline: @spacing-300;
      .title {
        font-size: 1.3rem;
      }
    }

    .recipe__nutrition {
      padding-inline: @spacing-300;
      .title {
        font-size: 1.3rem;
      }
    }
  }
}
