* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #dae9ef;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 26px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 15px;
}

.text {
  padding: 10px;
}

.paragraph {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #333;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}
